name: Check local changes

on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: string
      java-vendor:
        required: true
        type: string
      use-self-runner:
        required: true
        type: boolean
        default: true
      data-task:
        required: false
        type: string
      check-formatting:
        required: false
        type: boolean
        default: false
    outputs:
      version:
        description: Generated version
        value: ${{ jobs.generate-vars.outputs.version }}
      timestamp:
        description: Generated timestamp
        value: ${{ jobs.generate-vars.outputs.timestamp }}
      runner:
        description: Determined runner
        value: ${{ jobs.generate-vars.outputs.runner }}

jobs:
  generate-vars:
    name: Generate Vars
    uses: ApexStudios-Dev/.github/.github/workflows/_generate-vars.yml@master
    secrets: inherit
    with:
      use-self-runner: ${{ inputs.use-self-runner }}

  check-local-changes:
    name: Check local changes
    needs: generate-vars
    runs-on: ${{ needs.generate-vars.outputs.runner }}
    steps:
      - name: Checkout Repository
        uses: ApexStudios-Dev/.github/actions/checkout@master

      - name: Setup Java
        uses: ApexStudios-Dev/.github/actions/setup-java@master
        with:
          java-version: ${{ inputs.java-version }}
          java-vendor: ${{ inputs.java-vendor }}

      - name: Setup Gradle
        uses: ApexStudios-Dev/.github/actions/setup-gradle@master
        with:
          use-gradle-cache: ${{ !inputs.use-self-runner }}

      - name: Run with Gradle
        if: ${{ inputs.data-task }}
        run: ./gradlew ${{ inputs.data-task }}
        env:
          VERSION: ${{ needs.generate-vars.outputs.version }}

      - name: Run with Gradle
        if: ${{ inputs.check-formatting }}
        run: ./gradlew :applyAllFormatting
        env:
          VERSION: ${{ needs.generate-vars.outputs.version }}

      # This is needed otherwise the 'git status' below reports as 'gradlew' being changed
      # Tried running 'git update-index --chmod=+x gradlew' to have perms tracked but this did not work
      - name: Unmark Gradle as Executable
        run: chmod -x gradlew

      - name: Check no local changes are present
        run: |
          git status
          if [ -n "$(git status --porcelain)" ]; then exit 1; fi
